@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

  @*

  @(message: String)

  *@


@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@*

@main("Candidates Rotterdam") {

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Candidates Rotterdam</h1>
    <div class="sub-header"><a href="">Displaying 1 - 10 out of 54 candidates</a></div>
    <nav>
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Initial contact date</th>
            <th>Name</th>
            <th>Recruiter</th>
            <th>CV</th>
            <th>Level</th>
            <th>Language</th>
            <th>EU</th>
            <th>First interview</th>
            <th>Technical interview</th>
            <th>Final interview</th>
            <th>Start date</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
            <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td style="text-align: center"><span style="color:green" class="glyphicon glyphicon-ok" aria-hidden="true"> </span></td>
            <td style="text-align: center"><span style="color:green" class="glyphicon glyphicon-ok" aria-hidden="true"> </span></td>
            <td style="text-align: center"><span style="color:green" class="glyphicon glyphicon-ok" aria-hidden="true"> </span></td>
            <td>1st Nov. 2016</td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
            <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
            <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
            <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
              <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
              <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
            <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
              <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
              <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>
          <tr>
            <td>1st Nov. 2016</td>
            <td><a>Lorem</a></td>
                <td>ipsum</td>
            <td><a href="my-cv.pdf">CV</a></td>
            <td>Medior</td>
            <td>Java</td>
            <td>Yes</td>
            <td>1st Nov. 2016 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>bla bal</td>
          </tr>


        </tbody>
      </table>


    </div>
  </div>

}

  *@