@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(city: String, candidateList: List[Candidate], recruiter: Recruiter)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(s"Candidates $city" ) {

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Candidates @city</h1>
    <div class="sub-header"><a href="">Displaying 1 - 10 out of 54 candidates</a></div>
    <nav>
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Initial contact date</th>
                <th>Name</th>
                <th>Recruiter</th>
                <th>CV</th>
                <th>Level</th>
                <th>Skill set</th>
                <th>Language</th>
                <th>EU</th>


              @*  <th>First interview</th>
                <th>Technical interview</th>
                <th>Final interview</th>
               *@

                @candidateList.headOption.map { candidate =>
                    @utils.displayInterviewSteps(candidate.interviewProcess)
                }

                <th>Start date</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            @candidateList.map{ candidate =>
            <tr>
                <td>@candidate.dateOfFirstApplication</td>@* Initial contact date *@
                <td><a>@candidate.firstName</a></td> @* Candidates Name *@
                <td><a>@recruiter.companyName</a></td> @* Recruiters Name *@
                <td><a>@candidate.cv</a></td> @* Candidates CV file or files *@

                <td>@candidate.seniority</td>  @* Candidates Yrs of exper *@

                <td>
                        <ul>
                    @for(skill <- candidate.skillSet) {
                        <li><b>@skill.name</b>: @skill.level</li>
                    }
                        </ul>
                </td>


                <td>@candidate.education.spokenLanguages.mkString(", ")</td> @* Spoken lang *@

                <td>@candidate.currentCountry</td>

                @candidate.interviewProcess.steps.map { step =>
                    <td style="text-align: center">@utils.displayInterviewResult(step.resultOfInterview)</td>
                }



                <td>@candidate.startDate</td>
                <td>@candidate.notes</td>-->
            </tr>
            }

            </tbody>
        </table>


    </div>
</div>

}
